.about{

    width: 90%;
    max-width: 128rem;
    margin: 0 auto;

    &__title{

        text-align: center;

    }

    &__container{

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        margin-bottom: 2rem;

        &__img{

            background-image: url('./../../public/img/nosotros.jpg');
            background-repeat: no-repeat;
            background-size: cover;


        }



    }

}