.about{

    display: flex;
    flex-direction: column;
    gap: 4rem;

    width: 90%;
    max-width: 128rem;
    margin: 4rem auto;

    &__title{

        text-align: center;
        margin: 0;

    }

    &__container{

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        margin-bottom: 4rem;

        &__img{

            background-image: url('./../../public/img/nosotros.jpg');
            background-repeat: no-repeat;
            background-size: cover;


        }



    }

}