.about {

    display: flex;
    flex-direction: column;
    gap: 4rem;

    width: 90%;
    max-width: 128rem;
    margin: 4rem auto;

    &__title {

        text-align: center;
        margin: 0;

    }

    &__container {

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

    }

}

@media (max-width: 800px) {

    .about {

        &__container {

            grid-template-columns: 1fr;

        }

    }


}