.navbar {

    position: absolute;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    max-width: 128rem;
    margin: 0 auto;
    margin-top: 2rem;
    transition: top 0.3s ease,bottom 0.3s ease;

    &__brand {

        font-size: 4.8rem;
        color: white;

        &-bold {

            font-weight: bold;

        }

    }

    &__menu {

        display: flex;
        column-gap: 2rem;
        transition: top 3s ease;

        transition: top 0.3s ease,bottom 0.3s ease;

        &__item {
            transition: top 0.3s ease,bottom 0.3s ease;

            &__link {

                position: relative;

                text-align: center;
                font-size: 1.8rem;
                color: rgba(255, 255, 255, 0.75);
                transition: top 0.3s ease,bottom 0.3s ease;

                padding: 0 1.5rem;

                &:before {

                    position: absolute;

                    left: 10%;
                    right: 10%;
                    top: 50%;

                    content: "";

                    border-left: 12px solid #c0392b;
                    border-right: 12px solid #c0392b;

                    transform: translateY(-50%); // move top/bottom to middle of element (almost imperceptible)
                    transition: all 0.3s ease;

                    height: 3px;
                    opacity: 0;

                }

                &:hover {

                    color: #ffffff;

                    &:before {

                        left: 0;
                        right: 0;
                        opacity: 1;

                    }

                }

            }

        }

    }

    &__button {

        display: none;

        color: white;
        font-size: 4rem;

    transition: top 0.3s ease,bottom 0.3s ease;
    cursor: pointer;

    }

}

.active {

    color: #fff;

    &:before {

        left: 0;
        right: 0;
        opacity: 1;

    }

}



@media (max-width: 800px) {

    .navbar {

        position: fixed;
        background-color: black;
        width: 100%;
        margin: 0;
        padding: 0rem 4rem;
    transition: top 0.3s ease,bottom 0.3s ease;
        
        &__menu {
            
            position: absolute;
            flex-direction: column;
            row-gap: 2rem;
            
            width: 100%;
            padding: 2rem 0rem;
            
            background-color: black;
            
            left: 0;
            top: auto;
            bottom: 10rem;
            // top: 9rem;

            // transition: transform 0.3s ease;
    transition: top 0.3s ease,bottom 0.3s ease;
            

            z-index: -1;

            &__item {

                margin: 0 auto;
                transition: top 0.3s ease,bottom 0.3s ease;

            }

        }

        &__button {

            display: block;
            transition: top 0.3s ease,bottom 0.3s ease;

        }
    }

}

.show {
    top: 9rem;
    bottom: auto;
}